*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Fira Sans', Arial, Helvetica, sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700&display=swap');

header{

    width: 100%;
    background-color: #B47ED9;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:5em
}

#hamburguesa li{
    list-style: none;
    text-indent: -500px;
    overflow: hidden;
    width: 2em;
    margin-top: 1.8em;
    margin-left: .5em;
    
}

#hamburguesa li a{
    background: url(../imagenes/menu_violeta.png) no-repeat;
    background-size: cover;
    display: block;
    height: 1.4em;
}

#hamburguesa li:last-child {
    display: none;
}

#botones{
    width: 100%;
    height: calc(100vh - 5em);

}
 nav:target #botones {
     left: 0;
 }

 nav:target #hamburguesa li:first-child {
    display: none;
}

nav:target #hamburguesa li:last-child {
    display: block;
}

#botones {
    width: 70%;
    height: calc(100vh - 4em);
    background: #201126;
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    top: 5em;
    left: -100%;
    transition: left .5s ease;
}

#botones li {
    list-style: none;
    margin: 1em;
    width: 90%;
    display: inline-block;
}

#botones li a {
    text-decoration: none;
    display: block;
    color: #B47ED9;
    text-align: left;
    margin-left: 1em;
    line-height: 2em;
}

h1{
    background:url(../imagenes/logo_cel.png) no-repeat;
    background-size: cover;
    color:transparent;
    width: 125px;
    height: 49px;
    margin: .5em;
    text-indent: -500px;
    font-size: 0px;
   
    
}

h1 a{
    display: block;
    width: 100%;
    height: 100%;
}

#banner img{
    width: 100%;
}

#articulo{
    margin: 1em .5em;
    color: #201126
}

#articulo h2{
    margin-top: 1em;
    padding-left: .5em;
    font-weight: 800;
    
    
}

#articulo p{
    margin-top: .8em;
    padding: .5em;
    line-height: 1.5em;
    font-weight: 400;
}

#articulo h3{
    margin-top:1em;
    padding-left: .5em;

}

#pastillas{
    margin: 1.2em 2em;
}

#pastillas h3{
    color:#B47ED9;
    padding: 0.2em 0;
    font-family: 'Fira Sans', sans-serif;;
    font-size: 400;
}

#pastillas p{
     font-family: 'Fira Sans', sans-serif;

}

.PDOS {
    border-bottom: #201126 solid;
    margin: 1em 0.5em;
    padding-bottom: 0.7em;
    box-shadow: #201126 2em;
}

.PUNO {
    border-bottom: #201126 solid;
    margin: 1em 0.5em;
    padding-bottom: 0.7em;
}

.PTRES {
    border-bottom: #201126 solid;
    margin: 1em 0.5em;
    padding-bottom: 0.7em;
}

.PCUATRO {
    border-bottom: #201126 solid;
    margin: 1em 0.5em;
    padding-bottom: 0.7em;
}

#video figure{
    width: 100%;
    display: flex;
    justify-content: center;
}
#video video{
    width: 100%;
    margin: 1em auto;
    padding: 0.2em 0;
    box-shadow: #201126 5px 5px 25px ;


}

footer{
    width: 100%;
    padding: 2em 1em;
    margin-top: 1em;
    background-color: #B47ED9;
    display: flex;
}

footer ul{
    list-style: none;
}
